@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Roboto&display=swap");

:root {
  --primary-color: #0b0144;
  --secondary-color: #0c304d;
  --sub-secondary-color: aliceblue;
  --background-color: #fbf6ec;
  --hover-color: antiquewhite;
  --hover-background-color: #ecd0a4;
  --primary-font: "Monofett", cursive;
  --body-font: "Roboto", sans-serif;
}
body {
  text-align: center;
  color: var(--secondary-color);
  font-family: var(--body-font);
  background-color: var(--background-color);
}

/* Main style for the container */
.container {
  max-width: 1100px;
  margin-top: 3%;
  margin-left: 230px;
}
h1 {
  font-family: var(--primary-font);
  font-size: 70px;
  margin: 0.2em;
  color: var(--primary-color);
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}
h3 {
  font-size: 21px;
}

/* style for grids */
table,
tr,
td {
  border: 1px solid black;
  cursor: url("https://raw.githubusercontent.com/wesbos/CSS-Cursors/gh-pages/source/santahand.png"),
    default;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

/* main style for input */
input[type="number"] {
  width: 8em;
}

#inputHeight,
#inputWidth {
  margin-left: 25%;
  text-align: center;
}
.submit-button {
  background-color: var(--secondary-color);
  color: var(--sub-secondary-color);
  border-radius: 10px;
}
.submit-button:hover {
  color: var(--hover-color);
}

/* main style for the color picker */
#colorPicker {
  margin-left: 40%;
}

/* style for footer */
footer {
  text-align: center;
  color: var(--secondary-color);
  font-size: 10px;
  text-decoration: none;
}
footer a {
  text-align: center;
  color: var(--secondary-color);
  font-size: 10px;
  text-decoration: none;
}
footer a:hover {
  color: var(--hover-background-color);
}
